* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html {
  overflow-x: hidden
  overflow-y: hidden;
}
body {
  margin = 0;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #6e88bf, white);
  font-family: Sans-Serif;
}
p {
  text-align: center;
}
h1 {
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}
.scroller {
  height: 300px;
  overflow-y: scroll;
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
  scroll-padding: 40px;
}

.scroller section {
  scroll-snap-align: start;
  border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	text-align: center;
	position: relative;
}
