* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html {
  overflow-x: hidden;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #6e88bf, white);
  font-family: Sans-Serif;
}
p {
  position: absolute;
  top: 30%;
  horizontal-align: center;
  margin: 15px;
font-size: calc(1rem + 0.5vw);
}
h1 {
  text-align: center;
  margin: 15px;
  color: black;
  width: 100%;
  font-size: calc(1rem + 3vw);
}
h2 {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}
.scroller {
  height: 800px;
  overflow-y: scroll;
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
  scroll-padding: 0;
}

.scroller section {
  scroll-snap-align: start;
  border-right: 1px solid white;
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	text-align: center;
	position: relative;
}
