body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden
}
body {
  height: 100%;
  margin = 0;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #6e88bf, white);
  font-family: Noto-Sans;
}
p {
  text-align: center;
}
h6 {
  text-align: center;
}
.scroller {
    height: 300px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 40px;
}

.scroller section {
    scroll-snap-align: start;
}
